body {
  font-family: -apple-system
  ,BlinkMacSystemFont,Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  Helvetica, Neue, sans-serif;
  height: 100%;
  width: 100%;
  background-color:#a6dafc;
}

#container {
  display:flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 400px;
  width:auto; /*Responsive between 400 and 600px */
  height:auto;
  background-color: white;
  /*border: 1px black solid;*/
  border-radius:10px;
  text-align: center;
}

.header, .search, .main, .userSelection, .footer {
  width:100%;
  height:auto;
}

.content {
  min-height:200px;
}

.togglesGroup {
  display:flex;
}
/*trick to make the toggle of same width and height*/
.toggle_container {
  display: inline-block;
  position: relative;
  width:16.67%;
  cursor: pointer;
  height:100px;
  /*background:yellow;*/
}
.toggle_container:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.toggle {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

/*END of tricking the toggles*/
.toggle i {
  width:100%;
  height:auto;
}

i:hover {
  color:#571393;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #66b3ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-top: 15px;
  margin-left: 50%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color:gray;
}
.textNearFooterIcon a {
  text-decoration:none;
  color:#44a5f4;
}

.footerIcon {
  height:50px;
}
